APP_ENV=production
APP_DEBUG=true
APP_URL=https://snipe-it.localhost
APP_KEY=base64:reLHI8qK1MDOWkM/ix3HUBBa+A6JF6xPVfQaE40Y7dY=
APP_TIMEZONE=Asia/Taipei
APP_LOCALE=zh-TW
MYSQL_ROOT_PASSWORD=badpassword
MYSQL_DATABASE=snipeit
MYSQL_USER=snipeit
MYSQL_PASSWORD=badpassword
MYSQL_PORT_3306_TCP_ADDR=mysql

MAIL_DRIVER=smtp
MAIL_HOST=smtp
MAIL_PORT=25
MAIL_USERNAME=snipeit
MAIL_PASSWORD=badpassword
MAIL_ENCRYPTION=null
MAIL_FROM_ADDR=snipeit@localhost
MAIL_FROM_NAME='Snipe-IT'
MAIL_REPLYTO_ADDR=snipeit@localhost
MAIL_REPLYTO_NAME='Snipe-IT'
